
<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
	<label for="login"></label><input type="text" name="login" value="" id="login">
	<label for="password"></label><input type="text" name="password" value="" id="password">

	<p><input type="submit" value="Continue &rarr;"></p>
</form>