
<h2>Login</h2>

<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
	<p><label for="login">Login: </label><br /><input type="text" name="login" value="" id="login"></p>
	<p><label for="password">Password:</label><br /><input type="text" name="password" value="" id="password"></p>

	<p><input type="submit" value="Continue &rarr;"></p>
</form>