body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #F5B045; }
a:visited { color: #F5B045; }
a:hover { color: #7CAB36; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
	margin:0;
	padding:0;
	background:#1f1f1f;
	color:#ccc;
	font-family: verdana, Helvetica, Arial, serif;
}

.container {
	margin: 0px auto;
	width:650px;
}

h1 {
	margin-top:10px;
	display: inline;
}

h2 {
	margin-top:10px;
	/* Need to add specifics to this indentiation : padding-left:10px; */
	display: inline;
	color:#B84C13;
}

ol {
	list-style:none;
	padding:0;
}

ol li.project {
	margin:0;
	padding:5px;
	background:url('/images/GrayGradient.png') #aaa;
	color:#000;
	font-weight:bold;
	-webkit-border-radius: 10px;
	/*-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-radius: 10px 10px 0 0; */
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

ol li.project a{
	width:650px;
	display:block;
	text-decoration: none;
	color:#222;
}

ol li.project a:hover {
	color: #000;
}

ol li.project a:visited {
	color: #333;
}

ol li.project:hover {
	color: #B84C13;
	border: 2px solid #B84C13;
}


ul.notes {
	list-style:none;
	padding-left: 5em;
/*	background:#ddd;
	border-left:1px dashed #000;
	border-right:1px dashed #000;
	color:#000; */
}

ul.notes li.note {
	padding-top:.5em;
	text-indent: -5em;
}

ul li.note span {
	color:#B84C13;
}

ul#nav {
	margin:0;
	padding:10px;
	background:#333;
	list-style:none;
	float:right;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

ul#nav li {
	padding-top:0;
	margin-top:0;
	display:inline;
}

#logout_form {
	display:inline;
}

#logout_button {
	padding-left:0;
	font-size:1em;
	text-decoration:underline;
	color:#F5B045;
	background:#333;
	border:none;
	display:inline;
}

#logout_button:hover {
	color: #7CAB36;
}

a { color: #F5B045; }
a:visited { color: #F5B045; }
a:hover { color: #7CAB36; }
