<% title("Projects") %>

<h1><%= SITE_NAME %></h1> <h2>projects</h2>

<ol>

<% @projects.each do |project| %>
	<li class="project"><%= link_to project.name, project %><li>
<% end %>

<br />

<% if logged_in %>
	<%= link_to 'New project', new_project_path %>
<% end %>