<h1>zacharyc</h1> <h2>projects</h2>

<ol>

<% @projects.each do |project| %>
	<li class="project"><%= link_to project.name, project %><li>
<% end %>

<br />
<%= link_to 'New project', new_project_path %>